#shake_icon{
	width:100%;
	animation: shaking 1.5s linear infinite;
	-webkit-animation: shaking 1.5s linear infinite;
}
 
@keyframes shaking{
    25% {
		margin-top:-20px;
	}
	50% {
		margin-top:10px;
	}
	75% {
		margin-top:20px;
	}
	100% {
		margin-top:10px;
	}
}