.ckg_banner{
	width: 100%;
	height: 580px;
	background-image: linear-gradient(0deg, 
		#8ce08a 100%, 
		#61dd5e 0%);
}
.ckg_banner .ckg_banner_box{
	width: 100%;
	height: 100%;
	display: flex;
}
.ckg_banner .ckg_banner_item{
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
}
.ckg_banner .ckg_banner_item .ckg_banner_title{
	font-size: 50px;
	color: #FFF;
	font-weight: 700;
	margin-top: 80px;
}
.ckg_banner .ckg_banner_item p{
	font-size: 28px;
	color: #ffffff;
	margin: 30px 0 90px 0;
}
.ckg_banner .ckg_banner_item:last-child{
	justify-content: center;
	align-items: center;
}
.ckg_banner .ckg_banner_item img{
	width: 371px;
}

.ckg_wx{
	width: 100%;
	height: 900px;
	background-color: #f6f7fb;
}
.ckg_wx .ckg_title{
	text-align: center;
	padding: 60px 0 80px 0;
	box-sizing: border-box;
}
.ckg_wx .ckg_title p{
	font-size: 18px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 2px;
	color: #666666;
}
.ckg_wx .ckg_title .ckg_p{
	font-size: 32px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 3px;
	color: #353535;
}
.ckg_wx .ckg_card{
	width: 100%;
	height: 620px;
	padding: 60px 60px;
	box-sizing: border-box;
	background-color: #ffffff;
	box-shadow: 0px 1px 5px 0px 
		rgba(4, 0, 0, 0.1);
	display: flex;
	flex-wrap: wrap;
}
.ckg_wx .ckg_card .ckg_card_item{
	width: 33.333%;
	height: 160px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.ckg_wx .ckg_card .ckg_card_item span{
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 18px;
	letter-spacing: 0px;
	color: #666666;
}
.ckg_wx .ckg_card .ckg_card_item .ckg_span{
	font-size: 18px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 18px;
	letter-spacing: 0px;
	color: #353535;
	margin: 22px 0 13px 0;
}

.ckg_platform{
	width: 100%;
	height: 700px;
	background-color: #ffffff;
}
.ckg_platform .ckg_title{
	text-align: center;
	padding: 60px 0 80px 0;
	box-sizing: border-box;
}
.ckg_platform .ckg_title p{
	font-size: 18px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 2px;
	color: #666666;
}
.ckg_platform .ckg_title .ckg_p{
	font-size: 32px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 3px;
	color: #353535;
}
.ckg_subject{
	width: 100%;
	display: flex;
}
.ckg_subject .ckg_subject_item{
	width: 50%;
	height: 444px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
}
.ckg_subject .ckg_subject_item .ckg_left_item{
	display: flex;
	justify-content: center;
	align-items: center;
}
.ckg_subject .ckg_subject_item .ckg_left_item img{
	margin-right: 25px;
}


.ckg_span{
	font-size: 22px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 18px;
	letter-spacing: 0px;
	color: #067503;
	margin-top: 21px;
}

.ckg_function{
	width: 100%;
	height: 800px;
	background-color: #ffffff;
}
.ckg_function .ckg_title{
	text-align: center;
	padding: 60px 0 80px 0;
	box-sizing: border-box;
}
.ckg_function .ckg_title p{
	font-size: 18px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 2px;
	color: #666666;
}
.ckg_function .ckg_title .ckg_p{
	font-size: 32px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 3px;
	color: #353535;
}
.ckg_function .ckg_card{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.ckg_function .ckg_card .ckg_card_item{
	width: 23.5%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	margin-right: 1.5%;
}
.ckg_function .ckg_card .ckg_card_item:last-child{
	margin-right: 0;
}
.ckg_function .ckg_card .ckg_card_item span{
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 18px;
	letter-spacing: 0px;
	color: #666666;
}
.ckg_function .ckg_card .ckg_card_item .ckg_span{
	font-size: 18px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 18px;
	letter-spacing: 0px;
	color: #353535;
	margin: 22px 0 13px 0;
}

.ckg_tool{
	width: 100%;
	height: 800px;
	background-color: #f6f7fb;
}
.ckg_tool .ckg_title{
	text-align: center;
	padding: 60px 0 80px 0;
	box-sizing: border-box;
}
.ckg_tool .ckg_title p{
	font-size: 18px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 2px;
	color: #666666;
}
.ckg_tool .ckg_title .ckg_p{
	font-size: 32px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 3px;
	color: #353535;
}
.ckg_tool .ckg_card{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.ckg_tool .ckg_card .ckg_card_item{
	width: 31.7%;
	height: 150px;
	background-image: linear-gradient(0deg, 
		#e7f7e6 0%, 
		#c5f4c4 100%);
	border-radius: 10px;
	display: flex;
	cursor: pointer;
	margin-right: 1.5%;
	margin-bottom: 1.5%;
}
.ckg_tool .ckg_card .ckg_card_item:last-child{
	margin-right: 0;
}
.ckg_tool .ckg_card .ckg_card_item  .ckg_item_left{
	width: 35%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.ckg_tool .ckg_card .ckg_card_item .ckg_item_right{
	width: 65%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}
.ckg_tool .ckg_card .ckg_card_item .ckg_item_right span{
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 18px;
	letter-spacing: 0px;
	color: #666666;
}
.ckg_tool .ckg_card .ckg_card_item .ckg_item_right span:first-child{
	font-size: 20px;
	color: #353535;
	margin-bottom: 16px;
}

.ckg_scene{
	width: 100%;
	background-color: #ffffff;
	padding-bottom: 78px;
	box-sizing: border-box;
}
.ckg_scene .ckg_title{
	text-align: center;
	padding: 60px 0 70px 0;
	box-sizing: border-box;
}
.ckg_scene .ckg_title p{
	font-size: 18px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 2px;
	color: #666666;
}
.ckg_scene .ckg_title .ckg_p{
	font-size: 32px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 3px;
	color: #353535;
}
.ckg_scene .ckg_card{
	width: 100%;
	height: 377px;
	display: flex;
	flex-flow: wrap;
	/* flex-wrap: wrap; */
}
.ckg_scene .ckg_card .ckg_card_item{
	width: 18.5%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	margin-right: 1.5%;
	position: relative;
}
.ckg_scene .ckg_card .ckg_card_item:nth-child(5n){
	margin-right: 0;
}
.ckg_scene .ckg_card .ckg_card_item .ckg_img_box{
	width: 100%;
	position: relative;
}
.ckg_scene .ckg_card .ckg_card_item .ckg_img_box .ckg_word_mask{
	width: 100%;
	height: 36px;
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	text-align: center;
	line-height: 36px;
}
.ckg_scene .ckg_card .ckg_card_item .ckg_img_box .ckg_word_mask span{
	font-size: 16px;
	color: #ffffff;
}